.uo-colorswitcher {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
  background-color: rgba(200, 200, 200, .75);
  border-radius: 5px;
  backdrop-filter: blur(2px);
  z-index: 100;
}

.uo-colorswitcher--scheme {
  padding: .5em 1em;
}

.uo-colorswitcher--scheme.active {
  text-shadow: 0px 0px 5px black;
  color: white;
}
