{#
/**
 * @file
 * Default union implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'layout',
    'cu-layout--onecol',
  ]
%}

{% if settings.full_width %}
  {% set attributes = attributes.addClass('cu-section--wide') %}
{% endif %}

{% if settings.collapse_margins %}
  {% set attributes = attributes.addClass('cu-section--gapless') %}
{% endif %}

{% if content %}
  {% set rendered_content %}
    {% if content.ilr_hidden_header %}
      {{ content.ilr_hidden_header }}
    {% endif %}

    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
        {{ content.main }}
      </div>
    {% endif %}
  {% endset %}
{% endif %}
{% include '@union/_section.twig' with {
  content: rendered_content,
  attributes: attributes.addClass(classes)
} only %}
