<details id="skin-ilr">
<summary>ILR Skin Demo Content</summary>
{% include '@union/demo-content.twig' %}
</details>

<details id="forms">
<summary>Forms</summary>
<p>Demo coming soon.</p>
</details>

<details id="messages">
<summary>Messages</summary>
{% include '@union/messages.twig' %}
</details>
